*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  margin-bottom: 5em;
  font-family: 'Bitter', serif;
  /* background-color: #F0EEEE; */
  background-color: #F5F5F5;
}
